/* Background Effects */
.background { 
  animation: fadein 3s;
}

@keyframes fadein {
from {
    opacity:0;
}
to {
    opacity:1;
}
}

/* Header */

header {
  text-align: center;
  font-family: 'Roboto Slab', serif;
  font-weight:light;
  color:black;
}
header .inner{
  width: 100vw;
  height: 200px;
  margin-top: 40px;
}
header a:first-child{
  text-decoration: none;
}
a h1 {
  font-size: 25px;
  text-decoration: none;
  color:black;
  transition: .2s;
  padding-top: 20px;
}
a h1:hover{
  scale: 1.05;
}

/* menu bar */

.menu li {
  margin: 100px;
}

.menu li a {
  color: gray;
  text-decoration: none;
}

.menu li a:hover {
  color:black;
}


.menu * {
  display: inline;
}

.menu ul {
  padding-left: 0px;
}

.menu {
  font-size: 20px;
  font-style: italic;
  text-align: center;
  align-items: center;
  padding-top: 30px;
}

.profile {
  position: relative;
  width: 50%;
  height: 500px;
  float: left;
  /*float= "left"를 사용하여 나눈다. */
}

.profile_text {
  border-left: 1px solid gray;
  padding-bottom: 200px;
}

.profile img {
  display: block;
  margin: auto;
  margin-top: 50px;
  width: 20vw;
  height: 26wv;
  overflow: auto;
  object-fit: fill;
  text-align: center;
  padding-top: 0;
  padding-right: 150px;
}

.profile_text_name {
  /* font-size: 30px; */
  font-size: 2.5vw;
  font-weight: 400;
  padding-top: 120px;
  text-align: center;
}

.profile_text_description {
  font-size: 1.5vw;
  font-weight:310px;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  color: #282727d5;
}
HL{
  font-size: 2vw;
  font-weight: 900;
  background: linear-gradient(to top, #FFE400 50%, transparent 50%);
}