/* Background Effects */
.background { 
  animation: fadein 3s;
}

@keyframes fadein {
from {
    opacity:0;
}
to {
    opacity:1;
}
}

/* Header */

header {
  text-align: center;
  font-family: 'Roboto Slab', serif;
  font-weight:light;
  color:black;
}
header .inner{
  width: 100vw;
  height: 200px;
  margin-top: 40px;
}
header a:first-child{
  text-decoration: none;
}
a h1 {
  font-size: 25px;
  text-decoration: none;
  color:black;
  transition: .2s;
  padding-top: 20px;
}
a h1:hover{
  scale: 1.05;
}

/* menu bar */

.menu li {
  margin: 100px;
}

.menu li a {
  color: gray;
  text-decoration: none;
}

.menu li a:hover {
  color:black;
}


.menu * {
  display: inline;
}

.menu ul {
  padding-left: 0px;
}

.menu {
  font-size: 20px;
  font-style: italic;
  text-align: center;
  align-items: center;
  padding-top: 30px;
}

.wrapper {
  position: relative;
  width: 25%;
  height: 500px;
  float: left;
  text-align: center;
  padding-top: 50px;
}

.container {
  position: relative;
  height: auto;
  margin-left: 10px;
  margin-right: 10px;
  text-align: center;
}

.image {
  display: block;
  width: 20vw;
  height: 20vw;
  border-radius: 20%;
  margin: auto;
  overflow: auto;
  object-fit: fill;
  text-align: center;
  background-size: cover;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  background-color:rgba(0, 0, 0, 0.8);
  transition: opacity 0.4s;
  border-radius: 20%;
}

.container:hover .overlay {
  opacity: 1;
}

.text {
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}
.text a{
  text-decoration: none;
  color: white;
  font-weight: 700;
  border: 2px solid white;
  padding: 10px;
}
.wrapper h5 {
  padding-top: 20px;
}
.wrapper h1{
  font-size: 25px;
  font-style: italic;
  
}